# Sensitive Information
.env

# Large Binary Data (Keep these local)
faiss_index.bin
job_metadata.pkl

# Processed/Raw Data 
jobs.csv 
processed_jobs.csv
 

# Python/IDE temporary files
__pycache__/
*.pyc
.vscode/
.ipynb_checkpoints/

# Environments 
env/